<!DOCTYPE html>
<html>
  <head>
    <title>Express Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/skills">Skills List</a>
    <h1>Express Skills</h1>
  </body>
</html>
