body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(250, 250, 231);
}
a {
  color: rgb(1, 147, 238);
  text-decoration: none;
}
.delete-form {
  display: inline-block;
  margin-right: 10px;
}
.delete-form button {
  color: red;
  padding: 1px 3px;
  margin: 3px;
  background-color: rgb(250, 250, 231);
  border: dashed lightgrey 1px;
}
li {
  list-style: none;
}
button {
margin: 6px 0;
}
input {
  margin: 6px 0;
}